!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.gradle
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
HELP.md
bin/
build/
out/
target/
